<% include header %>
    <div class="content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo alias rerum tenetur? Nemo corporis repellendus delectus, est dignissimos molestias iusto odio aliquid possimus! Libero aperiam voluptatibus animi ipsum tenetur cupiditate.</p>
    </div>
    <% include footer %>
