<% include header %>
    <div class="content">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga tenetur nobis odio quibusdam ratione similique ad officiis earum molestias velit quae, quos id! Error accusantium placeat expedita quibusdam minus. Harum.</p>
    </div>
    <% include footer %>
