<!doctype html>
<html>

<head>
    <title>Mijn website - Nico Csanyi</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrapper">

        <header class="mainheader">
            <h1><a>Nico<span class="logo_colour">Csanyi</span></a></h1>
        </header>



        <div class="panel">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
