<% include header %>
    <div class="content">
        <h2>Welcome!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate tenetur aperiam a, nulla delectus eligendi voluptatibus voluptatem asperiores natus, expedita officiis, similique minima molestias officia iste iusto pariatur odio. Laborum?</p>
    </div>
    <% include footer %>
