<% include header %>
    <div class="content">
        <h1>Mijn blog berichten</h1>
        <h2>
            <%- page.title %> :</h2>

        <section>
            <%- page.body %>
        </section>
    </div>
    <% include footer %>
